.timezone-selector {
    display: flex;
    justify-content: left;
}

.timetable-container {
    display: flex;
    justify-content: left;
    width: 80%;
    margin: 20px auto;
}

.timetable-container table {
    margin: 2.5rem;
}

.timetable-container th {
    width: 10rem;
}

.timetable-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.timetable-table th, .timetable-table td {
    border: 2px solid #000;
    padding: 8px;
    text-align: center;
    font-size: 19px;
    font-weight: bolder;
}

#timetable-table th {
    background-color: #f0f0f0;
}